Package: org.speedyfriend67.swifile
Name: Swifile
Version: 1.0
Architecture: iphoneos-arm
Description: A new file manager made with SwiftUI!
Maintainer: Swifile development team
Author: SpeedyFriend67
Depends: firmware (>= 15.0)
Section: Utilities